

*{
    color: aliceblue;
}


body{
    margin: 0px;
    width:100% ;
    background-color: #000000;
    
    
    
  
}

.header{
    width: 96%;
    padding: 2%;
    height: 60px;
    box-shadow: 0px 1px 5px #c8c5c5 ;
    position: relative;
}

.header-team{
    width: 30%;
    float: left;
}

.header-h1{
    font-size: 30px;
    margin-top: 10px;
    color: yellow;
    margin-left: 0px;
   
    
}
nav{
    width: 50%;
    height: 80%;
    float: left;
    padding: 5px;
    display: flex;
    justify-content: center;
   
   

}
nav ul{
    border-radius: 40px;
    border: 1px solid rgb(48, 1, 1);
    box-shadow: 2px 2px 10px rgb(48, 1, 1);
    list-style-type: none;
    padding:2px 20px ;
    margin: 10px ;
    


}
nav ul li{
    float: left;
    margin: 0% 20px;
}

.join-team{
    float: right;
    width: 15%;
    height: 50%;
    padding: 20px 5px;
    position: relative;
}
.namad{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    float: right;
    padding: 3px;

}

.namad img{
    width: 100%;
}
.namad::after{
position: absolute;
content: "";
display: inline-block;
background-color: #ffffff;
width: 20px;
height: 10px;
top: 28px;
right: 30px;
}




.header-join button{
    cursor: pointer;
    font-size: 12px;
    width: 90px;
    height: 25px;
    border-radius: 30px;
    background-color: #ffffff;
    float: right;
    margin: 0px 3px 0px 0px;
    color: #000000;
}
.hide{
    display: none;
}

a{
    text-decoration: none;
}



/*body*/
.cl{
    clear: both;
}

.body-about{
   
    height: 3000px;
   
}
.head-body-about{
    padding:5% 5%;
    width: 90%;
    height: 250px;
   
}

.innovative{
   
    float: left;
   margin-left: 20px;
    width: 460px;
    margin-bottom: 5px;
    font-size: 30px;
}
.matn-head-body-about{
    width: 40%;
    float: left;
    margin-top: 5%;
    height: auto;
    margin-left: 5%;
}
.matn-head-body-about p{
    float: left;
    font-size: 20px;
}
.box-about{
    width: 100%;
    padding:0 0 5% 0%;
    height: 100%;
    
}
.body-about-developer{
    width: 80%;
    padding:0% 2% 0 2% ;
    display: flex;
    margin-left: 8%;
    height: 400px;
    background-color: rgb(16, 15, 15);
}
.about-img-developer{
    
    width: 400px;
    height: 400px;
    float: left;
}
.about-img-developer img{

    border-radius: 30px;
    opacity: 0.5;
    width: 95% ;
    height: 90%;
    margin: 35px 1% 0 3%;
}

.about-img-developer img:hover{
 
    opacity: 1;
    transform: scale(1.2) ;
}
.about-img-developer1 img:hover{
    
    opacity: 1;
    transform: scale(1.2) ;
}
.about-img-developer2 img:hover{
    opacity: 1;
    transform: scale(1.2) ;
}



.about-matn-developer{
    background-color: #dbcd0b;
   margin-top: 100px;
   border-radius:30px ;
    height: 295px;
    float: left;
    width: 600px ;
    
    
}
.matn-developer-p{
    width: 90%;
    height: 200px;
    padding: 5px 5%;
    
}
.matn-developer-p p{
    font-size: 16px;
    color: #59045f;
    margin-bottom: 20px;
    height: 100px;
}
.mar-but{
    margin-bottom: 60px;
    color: #dbcd0b !important;
}
.matn-developer-p h2{
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    float: left;
}
.matn-developer-p button{
    cursor: pointer;
   border-radius: 10px;
    width: 150px;
    height: 40px;
    float: right;
    margin-top: 10px;
    background-color: rgb(227, 178, 0);
    box-shadow: 1px 1px 3px rgb(9, 9, 9);
   
}
.matn-developer-p button img{
    margin-top: 3px;
    width: 30px;
    height: 30px;
    float: left;
}
.matn-developer-p button p{
    text-align: left;
    margin: 10px 0px;
    font-size: 14px;
}
.masol{
    margin: 25px;
    margin-bottom: 5px;
    background-color: #ffffff;
    width: 160px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    float: left;
    
}
.masol p{
    font-weight: 500;
    margin: 4px;
    color: #dbcd0b;
    font-size:17px ;
}
.card{
    float: right;
}

.card img{
    width: 50px;
    margin: 25px;
    margin-bottom: 0px;
}
.body-about-developer1{
    width: 85%;
    padding:0% 2% 0 2% ;
    float: right;
    margin-right: 7%;
    height: 370px;
    background-color: rgb(16, 15, 15);
}
.body-about-developer2{
    width: 85%;
    padding:0% 2% 0 2% ;
    float: right;
    margin-right: 7%;
   
    height: 450px;
    background-color: rgb(16, 15, 15);
}
.about-img-developer1{

    width: 350px;
    height: 400px;
    float: right;
}
.about-matn-developer1{
    background-color: #555445;
   border-radius:30px ;
   margin-top: 0;
    height: 360px;
    float: right;
    width: 450px;
    
}
.about-img-developer1 img{
    border-radius: 30px;
    width: 95% ;
    height: 90%;
    margin: 0 5% 0 2%;
    opacity: 0.5;
}
.about-img-developer2{
    width: 470px;
    height: 450px;
    float: right;
}
.about-img-developer2 img{
    border-radius: 30px;
    width: 95% ;
    height: 90%;
    margin: 0 0% 0 3%;
    opacity: 0.5;
}
.about-matn-developer2{
    background-color: #0f00e3;
   border-radius:30px ;
   margin-top: 0;
    height: 320px;
    float: right;
    width: 333px;
    margin-right: 10px;
    
}
.all-project{
    float: right;
    width: 140px;
    margin-top: 60px;
    height: 50px;
    padding: 20px 5px;
    position: relative;
}
.box-rang{
    width: 90%;
    padding: 5%;
    height: 500px;
}
.box-zard{
    border-radius: 35px;
    width: 60% ;
    height: 350px;
    background-color: #e6bb12;
    float: left;
}
.head-box-zard{
    width: 100%;
    height: 100px;
}
.head-box-zard button{
    font-size: 30px;
   
    margin-right: 20px;
    background-color:#000000;
    border-radius: 100%;
    border: 0;
    float: right;
    width: 40px;
    height: 40px;

}


.p-h{
    margin: 20px;
    width: 220px;
    height: 50px; 
}
.p1{
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 30px;
    background-color: #000000;
    width: 70px;
    height: 40px;
    float: left;
    text-align: center;
    margin-right: -2px;
    
}
.p2{
    margin-top: 15px;
    background-color: #000000;
    width: 10px;
    height: 15px;
    float: left;
}
.p3{
    margin-top: 2px ;
    background-color: #000000;
    float: left;
    border-radius: 30px;
    width: 70px;
    height: 40px;
    text-align: center;
    margin-left: -2px;
}
.ph1{
    margin: 10px;
    color: #dbcd0b;
}
.ph3{
    margin: 10.5px;
    color: #dbcd0b;
}




@media only screen and (max-width:970px) {
    .header-h1{
        font-size: 20px ;
        margin-top: 15px;
    }
    nav{
        width: 45%;
    }
    nav ul li{
       font-size: 12px;
       margin: 5px 10px;
    }
    nav ul{
        padding: 3px 10px;
    }
    .join-team{
        width: 20%;
    }
    .matn-head-body-about{width: 60%;}
    .head-body-about{
        height: 400px;
    }
    .matn-developer-p{
        width: 90%;
    }
}





@media only screen and (max-width:850px) {
.head-body-about{
    padding:5%;
    width: 90%;
    height: 350px;
   }

    .innovative h1{
        font-size: 40px;
    }
    .innovative{
        width: 300px;
    }
    .matn-head-body-about{width: 60%;}



}

@media only screen and (max-width:650px) {
    .header-h1{
        font-size: 15px ;
        margin-top: 15px;
    }
    .header-team{
        width: 25%;
        
    }
    nav{
        width: 45%;
    }
    nav ul li{
        font-size: 10px;
        margin: 5px 5px;
     }
     .join-team{
        width: 25%;
    }

    
    .namad{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    float: right;
    padding: 0px;

    }

    .namad img{
    width: 100%;
    }
    .namad::after{
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #ffffff;
    width: 10px;
    height: 5px;
    top: 28px;
    right: 25px;
    }




    .header-join button{
    font-size: 12px;
    width: 80px;
    height: 20px;
    border-radius: 30px;
    background-color: #ffffff;
    float: right;
    margin: 0px 3px 0px 0px;
    color: #000000;
    }


}
@media only screen and (max-width:520px) {
    .header-team{
        display: none;
    }
    
    .join-team{
        width: 35%;
    }
    nav{
        width: 10%;
        height: 30px;
        margin-top: 10px;
    }
    nav ul{
        display: none !important;
    }
    .hide{
        display: inline-block !important;
       
        
        width: 30px;
        height: 30px;
    }
    .hide button{
       box-shadow: 1px 1px 1px #ffffff;
        background: url(./img/list.png) center no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        
    }
    .head-body-about{
        height: auto;
    }
    
    .innovative h1{
        font-size: 25px;
    }
    .innovative{
        width: 200px;
    }
    .matn-head-body-about p{
        font-size: 13px;
    }
}

